.container {
    margin: 10px;
}
.container-style {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.jersey-style {
    border: 1px solid #088608;
    background-color: #088608;
    color: white;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
