<mat-card>
  <div class="row">
    <div class="col-md-4" style="margin: auto">
        <button mat-raised-button	color="primary" (click)="startTimer()">Start Timer</button>
        <button mat-raised-button	color="primary" (click)="resetTimer()">Reset Timer</button>
    </div>
    <div class="col-md-4 timer-style">
      {{ timerFullDate }}
    </div>
    <div class="col-md-4">
        <button mat-raised-button	color="warn" (click)="stopTimer()">Stop Timer</button>
    </div>
  </div> 
</mat-card>